body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Navbar, logo */

.navbar{
    position: fixed;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom right, #240000, #e00606);
    width: 100%;
    min-height: 1%;
    z-index: 1;
}

.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 9%;
    margin-left: 1%;
}

.logo{
    flex: 1 1 auto;
    margin-left: 3%;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 23px;
    color: #ffff;
}

/* Gradients */

.review-area, .links-area, .about-area, .art-area{
    background-image: linear-gradient(to bottom right, rgb(15, 15, 15), #303030);
    color: #fff;
}
.soundtr{
    background-image: linear-gradient(to top right, rgb(15, 15, 15), #303030);
    color: #fff;
}

.rules-area{
    background-image: linear-gradient(to top right, rgb(15, 15, 15), #303030);
    color: #fff;
}

/* general settings */

a{
    font-size: auto;
    margin: 15px;
    color: #ffff;
    text-decoration: none;
    margin-left: 15px;
}

.banner-area{
    position: relative;
    /* background-image: url(../img/smh.jpg); */
    width: 100%;
    height: 138vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.about-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 500px;
}
.review-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    min-height: 2400px;
}
.art-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 2000px;
}
.links-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 425px;
}

.soundtr{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 425px;
}

.text-part, .soundtr2{
    text-align: center;
    width: 65%;
    height: auto;
}
.review-part{
    text-align: center;
    width: 90%;
    height: 80%;
}
h1{
    padding:0;
    margin:0;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
}

p{
    font-size: 22px;
    margin: 10px;
    line-height: 37.0px;
}

.video-one{
    position: relative;
    right: 0px;
    top:100px;
    position: relative;
    width: 100%;
    height: 138vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.video-two{
    position: relative;
    left: 0px;
    top:10px;
    position: relative;
    width: 100%;
    height: 138vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.video-three{
    position: relative;
    right:0.0px;
    top:10px;
    position: relative;
    width: 100%;
    height: 138vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.video-four{
    position: relative;
    left:0.0px;
    top:10px;
    position: relative;
    width: 100%;
    height: 138vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

/* index page  */

.banner-area{
    background-image: linear-gradient(to bottom right, #000, #262626);
    position: relative;
    width: 100%;
    height: 138vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.box{
    display: none;
    width: 100%;
}

/* rules images */

#img1{
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.rls{
    text-align: center;
}


/* footer, scrollbar, misc*/

html{
    scroll-behavior: smooth;
}

.foot{
    position: absolute;
    text-align: center;
    align-content: center;
    color: #fff;
    background-image: linear-gradient(to top right, #240000, #e00606);
    height: auto;
    font-size: 20px;
    right: 0px;
    width: 100%;
}

a.designer:hover {
    text-decoration:underline;
}
a.netflix:hover {
    text-decoration:underline;
}

a:hover + .box,.box:hover{
    display: block;
    position: relative;
    z-index: 1;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #000;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px black;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
}
